$el-height: 30px
$base-color: #409eff
ul,li
  padding: 0
  margin: 0
  list-style-type: none
.datepicker-container
  position: relative
  display: inline-block
  .el-button--mini,
  .el-button--mini.is-round
    padding: 7px
  input
    box-sizing: border-box
    height: $el-height
  .datepicker-con
    position: absolute
    // left: 0
    // top: 10 + $el-height
    padding: 10px
    // border: 1px solid #ddd
    // border-radius: 4px
    &.top
      bottom: $el-height
    .header
      display: flex
      min-width: 200px
      padding: 10px 0
      .icon
        display: inline-block
        flex: none
        width: 20px
        line-height: 20px
        text-align: center
        cursor: pointer
        &:hover
          color: $base-color
      .title
        flex: 1
        margin: 0
        line-height: 20px
        span
          padding: 0 5px
          font-size: 14px
    .body
      .week
        padding: 10px 0
        font-size: 14px
        border-bottom: 1px solid #eeeeee
      .day-list
        width: 100%
        font-size: 0
        li
          display: inline-block
          width: 14.28571428571429%
          font-size: 14px
      .day-con
        li
          cursor: pointer
          &:hover,
          > .today
            color: $base-color
          > .check
            display: inline-block
            width: 24px
            height: 24px
            text-align: center
            line-height: 24px
            color: #ffffff
            background: $base-color
            border-radius: 50%
          &.disabled
            color: #cccccc
            cursor: not-allowed